.button {
    display: inline-block;
    padding: 1rem 2rem;
    border: 0.1rem solid $color-blue;
    color: $color-blue;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        border-color: $color-orange;
        color: $color-orange;
    }

    &:active {
        border-color: $color-purple;
        color: $color-purple;
    }

    &:disabled {
        background-color: $color-black;
        color: $color-black;
        cursor: not-allowed;
    }
}