.form {
    font-family: $font-primary;

    .form-control {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.5rem;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        textarea,
        select {
            width: 100%;
            padding: 1rem;
            border: 0.1rem solid $color-black;
            border-radius: 0.5rem;
            box-sizing: border-box;

            &:focus {
                border-color: $color-blue;
                outline: none;
            }
        }
    }

    .form-feedback {
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 0.5rem;
        color: $color-black;
        background-color: $color-yellow;
        text-align: center;
    }
}