.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: $color-blue;
    color: $color-black;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: $font-primary;

    &:hover {
        background-color: darken($color-blue, 20%);
    }

    &:active {
        background-color: darken($color-blue, 30%);
    }

    &:disabled {
        background-color: $color-black;
        cursor: not-allowed;
    }
}