* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $color-white;
}

h1 {
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
  font-family: 'Anton_SC', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.4rem;
  font-family: 'Anton_SC', sans-serif;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1.3rem;
  font-family: 'Anton_SC', sans-serif;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  font-family: 'Anton_SC', sans-serif;
}

h5 {
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
  font-family: 'Anton_SC', sans-serif;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: 'Anton_SC', sans-serif;
}

p, ul, ol{
    font-size: 1rem;
    margin: 1rem 0;
}

a {
  text-decoration: none;
  color: $color-orange;
}

figure, img {
  max-width: 100%;
}

img {
  height: auto;
}