body {
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, $color-purple 0%, $color-black 90%);
}

.main {
  padding: 4rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.full-screen {
  width: 100%;
  height: 100vh;

  .main {
    width: 100%;
    height: 100%;
  }
}

.half-screens {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .map, .main {
    height: 50%;
  }

  @include media-query--from-desktop-medium() {
    flex-direction: row;

    .map, .main {
      width: 50%;
      height: auto;
    }

  }
}