.site-header {
  position: relative;
  margin-bottom: 1rem;

  a {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    img {
      height: 1.5rem;
      width: 1.5rem;
    }

    span {
      font-family: 'Anton_SC', sans-serif;
      color: $color-white;
      font-weight: 100;
      letter-spacing: 0.2rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.3s;
    }
  }

  a:hover span {
    text-decoration-color: $color-orange;
  }

  @include media-query--from-desktop-medium() {
    margin-bottom: 2rem;

    a {

      img {
        height: 3rem;
        width: 3rem;
      }

      span {
        font-size: 2.7rem;
      }

    }

  }

}