// Fonts
$font-primary: Arial, sans-serif;
$font-secondary: 'Courier New', Courier, monospace;

// Colors
$color-white: #ffffff;
$color-black: #040004;
$color-gray: #5e5b5b;
$color-red: #cd004b;
$color-orange: #f37023;
$color-yellow: #fcb711;
$color-green: #0eb24e;
$color-purple: #380d42;