// Fonts
$font-primary: Arial, sans-serif;
$font-secondary: 'Courier New', Courier, monospace;

// Colors
$color-black: #292526;
$color-red: #cd004b;
$color-orange: #f37023;
$color-yellow: #fcb711;
$color-green: #0eb24e;
$color-blue: #0087d2;
$color-purple: #6561ac;